<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body data-ng-app="main" data-ng-controller="RootController">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
            @*<a class="brand" href='#/home'>AngularMVC</a>*@
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li data-ng-class="{active : activeViewPath==='/home'}">
                    <a href="#/home">Home</a>
                </li>
                <li data-ng-class="{active : activeViewPath==='/demo'}">
                    <a href="#/demo">Demo</a>
                </li>
                <li data-ng-class="{active : activeViewPath==='/angular'}">
                    <a href="#/angular">Learn Angular</a>
                </li>
                <li data-ng-class="{active : activeViewPath==='/about'}">
                    <a href="#/about">About</a>
                </li>
                <li data-ng-class="{active : activeViewPath==='/contact'}">
                    <a href="#/contact">Contact</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/app")
@RenderSection("scripts", false)
</body>
</html>